.app__chef {
    display: flex;
    margin-top: 2rem;
}

.app__chef_img img{
    width: 80%;
}

.app__chef-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    flex: 1;
    /* float: left; */
}

.app__chef-content_quote {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.app__chef-content_quote img {
    width: 60px;
    margin-right: 10px;
    margin-bottom: 8px;

}

.app__chef-sign {
    width: 100%;
    margin-top: 2rem;
}

.app__chef-sign img {
    width: 60%;
    margin-top: 1rem;
}

.app__chef-sign p:first-child {
    font-family: var(--font-base);
    font-weight: 400;
    font-size: 3rem;
    color: var(--color-golden);
}

@media screen and (max-width: 1050px) {
    .app__wrapper_img {
        width: 70%;
    }

    .app__chef {
        flex-direction: column;
    }

    .app__chef_img img {
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 650px) {
    .app__wrapper_info h1{
        font-size: 2.2rem;
        line-height: normal;
        margin-bottom: 1rem;
    }

    .app__chef-content_quote img {
        width: 35%;
    }

    .app__chef-allcontent {
        margin-top: 1rem;
    }

    .app__chef-content {
        margin-top: 0.2rem;
    }

    .app__chef-content .p__opensans {
        margin-top: 0 !important;
    }

    .app__chef-sign {
        margin-top: 1rem;
    }

    .app__chef-sign .p__opensans {
        margin-top: 0 !important;
    }

    .app__chef-sign img {
        width: 35%;
        margin-top: 0.5rem;
    }
}
